@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bjd00p');
  src:  url('../fonts/icomoon.eot?bjd00p#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bjd00p') format('truetype'),
    url('../fonts/icomoon.woff?bjd00p') format('woff'),
    url('../fonts/icomoon.svg?bjd00p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\f004";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-check:before {
  content: "\e900";
}
.icon-envelope-o:before {
  content: "\e901";
}
.icon-angle-right:before {
  content: "\e902";
}
.icon-angle-left:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e942";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}

